{% extends 'mailing/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать в Mailing App</h1>
<div class="row">
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Всего рассылок</th>
                <th scope="col">Активных рассылок</th>
                <th scope="col">Уникальных получателей</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ total_mailings }}</td>
                <td>{{ active_mailings }}</td>
                <td>{{ unique_recipients }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}