{% extends 'mailing/base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<h1>Добро пожаловать в Mailing App</h1>
<div class="row">
    <div class="container">
        <h4 class="justify-content-center">Всего писем отправлено: {{ total_send_message }}</h4>
    </div>
    {% for user in users_statistic_list %}
    <h5>Статистика пользователя: {{ user.username }}</h5>
    {% if perms.users.can_block_user %}
    {% if not user.user_is_blocked %}
    <div class="container">
        <a class="btn btn-danger" href="{% url 'users:block_user' user.user_id %}">Заблокировать пользователя</a>
    </div>
    {% else %}
    <div class="container">
        <a class="btn btn-success" href="{% url 'users:block_user' user.user_id %}">Разблокировать пользователя</a>
    </div>
    {% endif %}
    {% endif %}
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Всего рассылок</th>
                <th scope="col">Активных рассылок</th>
                <th scope="col">Уникальных получателей</th>
                <th scope="col">Отправленных писем</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ user.total_mailings }}</td>
                <td>{{ user.active_mailings }}</td>
                <td>{{ user.unique_recipients }}</td>
                <td>{{ user.total_send_message }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}